flows.json
[
    {
        "id": "190cd4b9f45ba92d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5359fb13bd96ef8f",
        "type": "modbus-client",
        "name": "BHive Opta",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.154",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b13252ebaf5180c6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "b7fda55bde7244b1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "72944b276b3a877b",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b13252ebaf5180c6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b7fda55bde7244b1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d4f328f50745ccd7",
        "type": "ui-group",
        "name": "Dashboard",
        "page": "72944b276b3a877b",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3385d45c6eb71e38",
        "type": "ui-page",
        "name": "Crops",
        "ui": "b13252ebaf5180c6",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "b7fda55bde7244b1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "36b02f21cc66f12c",
        "type": "ui-group",
        "name": "Crop Profiles",
        "page": "3385d45c6eb71e38",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9c31aaae98b7417d",
        "type": "modbus-read",
        "z": "190cd4b9f45ba92d",
        "name": "Read Sensors",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "14",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5359fb13bd96ef8f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "de2d73b216300a42"
            ],
            []
        ]
    },
    {
        "id": "de2d73b216300a42",
        "type": "function",
        "z": "190cd4b9f45ba92d",
        "name": "Parse Registers",
        "func": "var r = msg.payload;\n\nmsg.payload = {\n    ph: (r[0] / 100).toFixed(2),\n    ec: (r[1] / 100).toFixed(2),\n    int_temp: (r[2] / 10).toFixed(1),\n    int_rh: (r[3] / 10).toFixed(1),\n    ext_temp: (r[4] / 10).toFixed(1),\n    ext_rh: (r[5] / 10).toFixed(1),\n    lights: r[6] === 1,\n    main_pump: r[7] === 1,\n    pump_a: r[8] === 1,\n    pump_b: r[9] === 1,\n    ph_up: r[10] === 1,\n    ph_down: r[11] === 1,\n    humidifier: r[12] === 1,\n    vents: r[13]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "ef23b72af75dd71d",
                "f110095d7c79aa39"
            ]
        ]
    },
    {
        "id": "ef23b72af75dd71d",
        "type": "debug",
        "z": "190cd4b9f45ba92d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "9051afc78bc831d4",
        "type": "ui-template",
        "z": "190cd4b9f45ba92d",
        "group": "d4f328f50745ccd7",
        "page": "",
        "ui": "",
        "name": "BHive Dashboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"padding:16px;font-family:sans-serif;\">\n\n    <div style=\"background:#f5f5f5;border-radius:12px;padding:16px;margin-bottom:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Current Crop\n      </p>\n      <div style=\"display:flex;align-items:center;gap:12px;\">\n        <div\n          style=\"width:40px;height:40px;background:#e8f5e9;border-radius:8px;display:flex;align-items:center;justify-content:center;\">\n          <div style=\"width:20px;height:20px;background:#4caf50;border-radius:50%;\"></div>\n        </div>\n        <div style=\"flex:1;\">\n          <p style=\"font-size:16px;font-weight:500;margin:0;\">{{ msg.payload.crop_name || 'Lettuce — Butterhead' }}</p>\n          <p style=\"font-size:12px;color:#888;margin:2px 0 0;\">Day {{ msg.payload.days_growth || 18 }} of {{\n            msg.payload.days_to_harvest || 42 }}</p>\n          <div style=\"height:4px;background:#e0e0e0;border-radius:2px;margin-top:8px;\">\n            <div\n              :style=\"'height:4px;background:#4caf50;border-radius:2px;width:' + (msg.payload.progress || 43) + '%;'\">\n            </div>\n          </div>\n        </div>\n        <div style=\"text-align:right;\">\n          <p style=\"font-size:22px;font-weight:500;color:#4caf50;margin:0;\">{{ msg.payload.progress || 43 }}%</p>\n          <p style=\"font-size:11px;color:#888;margin:2px 0 0;\">to harvest</p>\n        </div>\n      </div>\n    </div>\n\n    <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Environment —\n      Internal</p>\n    <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:10px;margin-bottom:12px;\">\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">pH</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.ph || '—' }}</p>\n        <p style=\"font-size:11px;margin:2px 0 0;color:#4caf50;\">● In range</p>\n      </div>\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">EC</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.ec || '—' }}\n          <span style=\"font-size:12px;color:#888;\">mS</span></p>\n        <p style=\"font-size:11px;margin:2px 0 0;color:#4caf50;\">● In range</p>\n      </div>\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Int. Temp</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.int_temp || '—' }}\n          <span style=\"font-size:12px;color:#888;\">°F</span></p>\n        <p style=\"font-size:11px;margin:2px 0 0;color:#4caf50;\">● Nominal</p>\n      </div>\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Int. RH</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.int_rh || '—' }}\n          <span style=\"font-size:12px;color:#888;\">%</span></p>\n        <p style=\"font-size:11px;margin:2px 0 0;color:#4caf50;\">● In range</p>\n      </div>\n    </div>\n\n    <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Environment —\n      External</p>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:12px;\">\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Ext. Temp</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.ext_temp || '—' }}\n          <span style=\"font-size:12px;color:#888;\">°F</span></p>\n      </div>\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Ext. RH</p>\n        <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ msg.payload.ext_rh || '—' }}\n          <span style=\"font-size:12px;color:#888;\">%</span></p>\n      </div>\n    </div>\n\n    <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">System Status\n    </p>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;\">\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.lights ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Grow Lights</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.lights ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.lights ? '#2e7d32' : '#888')\">{{ msg.payload.lights ? 'On' : 'Off' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.main_pump ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Main Pump</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.main_pump ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.main_pump ? '#2e7d32' : '#888')\">{{ msg.payload.main_pump ? 'Running' : 'Off' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.pump_a ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Pump A</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.pump_a ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.pump_a ? '#2e7d32' : '#888')\">{{ msg.payload.pump_a ? 'Dosing' : 'Idle' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.pump_b ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Pump B</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.pump_b ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.pump_b ? '#2e7d32' : '#888')\">{{ msg.payload.pump_b ? 'Dosing' : 'Idle' }}</span>\n        </div>\n      </div>\n      <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.ph_up ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">pH Up</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.ph_up ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.ph_up ? '#2e7d32' : '#888')\">{{ msg.payload.ph_up ? 'Dosing' : 'Idle' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.ph_down ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">pH Down</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.ph_down ? '#e8f5e9' : '#f5f5f5') + ';color:' + (msg.payload.ph_down ? '#2e7d32' : '#888')\">{{ msg.payload.ph_down ? 'Dosing' : 'Idle' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.humidifier ? '#ef9f27' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Humidifier</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (msg.payload.humidifier ? '#faeeda' : '#f5f5f5') + ';color:' + (msg.payload.humidifier ? '#854f0b' : '#888')\">{{ msg.payload.humidifier ? 'Running' : 'Off' }}</span>\n        </div>\n        <div style=\"display:flex;align-items:center;gap:8px;\">\n          <div\n            :style=\"'width:10px;height:10px;border-radius:50%;background:' + (msg.payload.vents > 0 ? '#4caf50' : '#bdbdbd')\">\n          </div>\n          <span style=\"font-size:13px;flex:1;\">Vents</span><span style=\"font-size:11px;padding:2px 8px;border-radius:6px;background:#e8f5e9;color:#2e7d32;\">{{ msg.payload.vents || 0 }}% open</span>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f110095d7c79aa39",
        "type": "change",
        "z": "190cd4b9f45ba92d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensors",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "9051afc78bc831d4"
            ]
        ]
    },
    {
        "id": "cd94253ac9728d44",
        "type": "ui-template",
        "z": "190cd4b9f45ba92d",
        "group": "36b02f21cc66f12c",
        "page": "",
        "ui": "",
        "name": "Crop Profiles",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n<div style=\"padding:16px;font-family:sans-serif;\">\n\n  <p style=\"font-size:11px;color:#888;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.08em;\">Crop Profiles</p>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:16px;\">\n    <div v-for=\"crop in (msg.payload.crops || [])\" :key=\"crop.name\"\n      @click=\"selectCrop(crop)\"\n      :style=\"'background:' + (active && active.name === crop.name ? '#e8f5e9' : '#fff') + ';border:' + (active && active.name === crop.name ? '2px solid #4caf50' : '0.5px solid #e0e0e0') + ';border-radius:12px;padding:14px;cursor:pointer;'\">\n      <div style=\"display:flex;align-items:center;gap:10px;margin-bottom:8px;\">\n        <div :style=\"'width:32px;height:32px;border-radius:8px;background:' + crop.color + ';'\"></div>\n        <div>\n          <p style=\"font-size:14px;font-weight:500;margin:0;\">{{ crop.name }}</p>\n          <p style=\"font-size:11px;color:#888;margin:0;\">{{ crop.days }} days to harvest</p>\n        </div>\n        <div v-if=\"active && active.name === crop.name\" style=\"margin-left:auto;background:#4caf50;color:#fff;font-size:10px;padding:2px 8px;border-radius:6px;\">Active</div>\n      </div>\n      <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:4px;\">\n        <p style=\"font-size:11px;color:#888;margin:0;\">pH: {{ crop.ph_min }}–{{ crop.ph_max }}</p>\n        <p style=\"font-size:11px;color:#888;margin:0;\">EC: {{ crop.ec_min }}–{{ crop.ec_max }} mS</p>\n        <p style=\"font-size:11px;color:#888;margin:0;\">Temp: {{ crop.temp_min }}–{{ crop.temp_max }}°F</p>\n        <p style=\"font-size:11px;color:#888;margin:0;\">RH: {{ crop.rh_min }}–{{ crop.rh_max }}%</p>\n      </div>\n    </div>\n  </div>\n\n  <div v-if=\"active && active.name\" style=\"background:#f5f5f5;border-radius:12px;padding:16px;margin-bottom:12px;\">\n    <p style=\"font-size:13px;font-weight:500;margin:0 0 12px;\">Active: {{ active.name }}</p>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:12px;margin-bottom:12px;\">\n      <div>\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Start Date</p>\n        <input type=\"date\" v-model=\"start_date\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" />\n      </div>\n      <div>\n        <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Days to Harvest</p>\n        <input type=\"number\" v-model=\"active.days\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" />\n      </div>\n    </div>\n    <button @click=\"activate\" style=\"width:100%;padding:14px;background:#4caf50;color:#fff;border:none;border-radius:12px;font-size:15px;font-weight:500;cursor:pointer;\">\n      Set Active + Write Targets to Opta\n    </button>\n  </div>\n\n  <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:16px;\">\n    <p style=\"font-size:13px;font-weight:500;margin:0 0 12px;\">Custom Profile</p>\n    <div style=\"margin-bottom:10px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Crop Name</p>\n      <input type=\"text\" v-model=\"custom.name\" placeholder=\"e.g. Cherry Tomato\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" />\n    </div>\n    <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:10px;margin-bottom:10px;\">\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">pH Min</p><input type=\"number\" step=\"0.1\" v-model=\"custom.ph_min\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">pH Max</p><input type=\"number\" step=\"0.1\" v-model=\"custom.ph_max\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">EC Min</p><input type=\"number\" step=\"0.1\" v-model=\"custom.ec_min\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">EC Max</p><input type=\"number\" step=\"0.1\" v-model=\"custom.ec_max\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Temp Min °F</p><input type=\"number\" v-model=\"custom.temp_min\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Temp Max °F</p><input type=\"number\" v-model=\"custom.temp_max\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">RH Min %</p><input type=\"number\" v-model=\"custom.rh_min\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n      <div><p style=\"font-size:11px;color:#888;margin:0 0 4px;\">RH Max %</p><input type=\"number\" v-model=\"custom.rh_max\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" /></div>\n    </div>\n    <div style=\"margin-bottom:10px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Days to Harvest</p>\n      <input type=\"number\" v-model=\"custom.days\" style=\"width:100%;padding:8px;border:0.5px solid #e0e0e0;border-radius:8px;font-size:14px;box-sizing:border-box;\" />\n    </div>\n    <button @click=\"addCustom\" style=\"width:100%;padding:12px;background:#1e88e5;color:#fff;border:none;border-radius:12px;font-size:14px;font-weight:500;cursor:pointer;\">\n      Add Custom Profile\n    </button>\n  </div>\n\n</div>\n\n<script>\nexport default {\n  data() {\n    return {\n      start_date: new Date().toISOString().split('T')[0],\n      active: null,\n      custom: { name: '', days: 42, ph_min: 5.5, ph_max: 6.5, ec_min: 1.2, ec_max: 2.4, temp_min: 65, temp_max: 80, rh_min: 50, rh_max: 70 }\n    }\n  },\n  methods: {\n    selectCrop(crop) {\n      this.active = { ...crop }\n    },\n    activate() {\n      if (!this.active) return\n      const start = new Date(this.start_date)\n      const today = new Date()\n      const days_growth = Math.floor((today - start) / (1000 * 60 * 60 * 24))\n      const progress = Math.min(100, Math.round((days_growth / this.active.days) * 100))\n      this.$socket.emit('msg-input:' + this.$ctxId, {\n        payload: {\n          action: 'activate_crop',\n          crop_name: this.active.name,\n          start_date: this.start_date,\n          days_growth,\n          days_to_harvest: this.active.days,\n          progress,\n          ph_min: this.active.ph_min,\n          ph_max: this.active.ph_max,\n          ec_min: this.active.ec_min,\n          ec_max: this.active.ec_max,\n          temp_min: this.active.temp_min,\n          temp_max: this.active.temp_max,\n          rh_min: this.active.rh_min,\n          rh_max: this.active.rh_max\n        }\n      })\n    },\n    addCustom() {\n      if (!this.custom.name) return\n      this.custom = { name: '', days: 42, ph_min: 5.5, ph_max: 6.5, ec_min: 1.2, ec_max: 2.4, temp_min: 65, temp_max: 80, rh_min: 50, rh_max: 70 }\n    }\n  }\n}\n</script>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e8aa88954f7383f2",
        "type": "inject",
        "z": "190cd4b9f45ba92d",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "3fc7a57f3de5541a"
            ]
        ]
    },
    {
        "id": "3fc7a57f3de5541a",
        "type": "function",
        "z": "190cd4b9f45ba92d",
        "name": "Init Crops",
        "func": "\nmsg.payload = {\n    crops: [\n        { name: 'Lettuce — Butterhead', days: 42, ph_min: 5.5, ph_max: 6.5, ec_min: 0.8, ec_max: 1.6, temp_min: 60, temp_max: 75, rh_min: 50, rh_max: 70, color: '#4caf50' },\n        { name: 'Basil — Genovese', days: 28, ph_min: 5.5, ph_max: 6.5, ec_min: 1.0, ec_max: 1.6, temp_min: 65, temp_max: 80, rh_min: 50, rh_max: 70, color: '#8bc34a' },\n        { name: 'Spinach', days: 40, ph_min: 6.0, ph_max: 7.0, ec_min: 1.8, ec_max: 2.3, temp_min: 55, temp_max: 70, rh_min: 50, rh_max: 70, color: '#2e7d32' },\n        { name: 'Cherry Tomato', days: 70, ph_min: 5.5, ph_max: 6.5, ec_min: 2.0, ec_max: 3.5, temp_min: 65, temp_max: 80, rh_min: 50, rh_max: 70, color: '#e53935' },\n        { name: 'Strawberry', days: 90, ph_min: 5.5, ph_max: 6.5, ec_min: 1.2, ec_max: 1.8, temp_min: 60, temp_max: 75, rh_min: 60, rh_max: 80, color: '#f06292' },\n        { name: 'Kale', days: 55, ph_min: 5.5, ph_max: 6.5, ec_min: 1.25, ec_max: 1.5, temp_min: 55, temp_max: 75, rh_min: 45, rh_max: 65, color: '#388e3c' }\n    ],\n    active: null,\n    start_date: new Date().toISOString().split('T')[0]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 340,
        "wires": [
            [
                "cd94253ac9728d44"
            ]
        ]
    }
]