flows.json
[
    {
        "id": "190cd4b9f45ba92d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5359fb13bd96ef8f",
        "type": "modbus-client",
        "name": "BHive Opta",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.154",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b13252ebaf5180c6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "b7fda55bde7244b1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "72944b276b3a877b",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b13252ebaf5180c6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b7fda55bde7244b1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d4f328f50745ccd7",
        "type": "ui-group",
        "name": "Dashboard",
        "page": "72944b276b3a877b",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9c31aaae98b7417d",
        "type": "modbus-read",
        "z": "190cd4b9f45ba92d",
        "name": "Read Sensors",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "14",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5359fb13bd96ef8f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "de2d73b216300a42"
            ],
            []
        ]
    },
    {
        "id": "de2d73b216300a42",
        "type": "function",
        "z": "190cd4b9f45ba92d",
        "name": "Parse Registers",
        "func": "var r = msg.payload;\n\nmsg.payload = {\n    ph: (r[0] / 100).toFixed(2),\n    ec: (r[1] / 100).toFixed(2),\n    int_temp: (r[2] / 10).toFixed(1),\n    int_rh: (r[3] / 10).toFixed(1),\n    ext_temp: (r[4] / 10).toFixed(1),\n    ext_rh: (r[5] / 10).toFixed(1),\n    lights: r[6] === 1,\n    main_pump: r[7] === 1,\n    pump_a: r[8] === 1,\n    pump_b: r[9] === 1,\n    ph_up: r[10] === 1,\n    ph_down: r[11] === 1,\n    humidifier: r[12] === 1,\n    vents: r[13]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "ef23b72af75dd71d",
                "f110095d7c79aa39"
            ]
        ]
    },
    {
        "id": "ef23b72af75dd71d",
        "type": "debug",
        "z": "190cd4b9f45ba92d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "9051afc78bc831d4",
        "type": "ui-template",
        "z": "190cd4b9f45ba92d",
        "group": "d4f328f50745ccd7",
        "page": "",
        "ui": "",
        "name": "BHive Dashboard",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n<div style=\"padding:16px;font-family:sans-serif;\">\n\n  <div style=\"background:#f5f5f5;border-radius:12px;padding:16px;margin-bottom:12px;\">\n    <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Current Crop</p>\n    <div style=\"display:flex;align-items:center;gap:12px;\">\n      <div style=\"width:40px;height:40px;background:#e8f5e9;border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:20px;\">🌿</div>\n      <div style=\"flex:1;\">\n        <p style=\"font-size:16px;font-weight:500;margin:0;\">{{ sensors.crop_name || 'Lettuce — Butterhead' }}</p>\n        <p style=\"font-size:12px;color:#888;margin:2px 0 0;\">Day {{ sensors.days_growth || 18 }} of {{ sensors.days_to_harvest || 42 }} — Vegetative stage</p>\n        <div style=\"height:4px;background:#e0e0e0;border-radius:2px;margin-top:8px;\">\n          <div :style=\"'height:4px;background:#4caf50;border-radius:2px;width:' + (sensors.progress || 43) + '%;'\"></div>\n        </div>\n      </div>\n      <div style=\"text-align:right;\">\n        <p style=\"font-size:22px;font-weight:500;color:#4caf50;margin:0;\">{{ sensors.progress || 43 }}%</p>\n        <p style=\"font-size:11px;color:#888;margin:2px 0 0;\">to harvest</p>\n      </div>\n    </div>\n  </div>\n\n  <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Environment — Internal</p>\n  <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:10px;margin-bottom:12px;\">\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">pH</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.ph || '—' }}</p>\n      <p :style=\"'font-size:11px;margin:2px 0 0;color:' + (sensors.ph < 5.5 || sensors.ph > 6.5 ? '#e53935' : '#4caf50')\">{{ sensors.ph < 5.5 || sensors.ph > 6.5 ? '● Out of range' : '● In range' }}</p>\n    </div>\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">EC</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.ec || '—' }} <span style=\"font-size:12px;color:#888;\">mS</span></p>\n      <p :style=\"'font-size:11px;margin:2px 0 0;color:' + (sensors.ec < 1.2 || sensors.ec > 2.4 ? '#e53935' : '#4caf50')\">{{ sensors.ec < 1.2 || sensors.ec > 2.4 ? '● Out of range' : '● In range' }}</p>\n    </div>\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Int. Temp</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.int_temp || '—' }} <span style=\"font-size:12px;color:#888;\">°F</span></p>\n      <p :style=\"'font-size:11px;margin:2px 0 0;color:' + (sensors.int_temp < 65 || sensors.int_temp > 80 ? '#e53935' : '#4caf50')\">{{ sensors.int_temp < 65 || sensors.int_temp > 80 ? '● Out of range' : '● Nominal' }}</p>\n    </div>\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Int. RH</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.int_rh || '—' }} <span style=\"font-size:12px;color:#888;\">%</span></p>\n      <p :style=\"'font-size:11px;margin:2px 0 0;color:' + (sensors.int_rh < 50 || sensors.int_rh > 70 ? '#ef9f27' : '#4caf50')\">{{ sensors.int_rh < 50 || sensors.int_rh > 70 ? '▲ Out of range' : '● In range' }}</p>\n    </div>\n  </div>\n\n  <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">Environment — External</p>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:12px;\">\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Ext. Temp</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.ext_temp || '—' }} <span style=\"font-size:12px;color:#888;\">°F</span></p>\n    </div>\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <p style=\"font-size:11px;color:#888;margin:0 0 4px;\">Ext. RH</p>\n      <p style=\"font-size:22px;font-weight:500;margin:0;\">{{ sensors.ext_rh || '—' }} <span style=\"font-size:12px;color:#888;\">%</span></p>\n    </div>\n  </div>\n\n  <p style=\"font-size:11px;color:#888;margin:0 0 8px;text-transform:uppercase;letter-spacing:0.08em;\">System Status</p>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;\">\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.lights ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Grow Lights</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.lights ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.lights ? '#2e7d32' : '#888')\">{{ sensors.lights ? 'On' : 'Off' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.main_pump ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Main Pump</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.main_pump ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.main_pump ? '#2e7d32' : '#888')\">{{ sensors.main_pump ? 'Running' : 'Off' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.pump_a ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Pump A</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.pump_a ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.pump_a ? '#2e7d32' : '#888')\">{{ sensors.pump_a ? 'Dosing' : 'Idle' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.pump_b ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Pump B</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.pump_b ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.pump_b ? '#2e7d32' : '#888')\">{{ sensors.pump_b ? 'Dosing' : 'Idle' }}</span></div>\n    </div>\n    <div style=\"background:#fff;border:0.5px solid #e0e0e0;border-radius:12px;padding:12px;\">\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.ph_up ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">pH Up</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.ph_up ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.ph_up ? '#2e7d32' : '#888')\">{{ sensors.ph_up ? 'Dosing' : 'Idle' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.ph_down ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">pH Down</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.ph_down ? '#e8f5e9' : '#f5f5f5') + ';color:' + (sensors.ph_down ? '#2e7d32' : '#888')\">{{ sensors.ph_down ? 'Dosing' : 'Idle' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;margin-bottom:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.humidifier ? '#ef9f27' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Humidifier</span><span :style=\"'font-size:11px;padding:2px 8px;border-radius:6px;background:' + (sensors.humidifier ? '#faeeda' : '#f5f5f5') + ';color:' + (sensors.humidifier ? '#854f0b' : '#888')\">{{ sensors.humidifier ? 'Running' : 'Off' }}</span></div>\n      <div style=\"display:flex;align-items:center;gap:8px;\"><div :style=\"'width:10px;height:10px;border-radius:50%;background:' + (sensors.vents > 0 ? '#4caf50' : '#bdbdbd')\"></div><span style=\"font-size:13px;flex:1;\">Vents</span><span style=\"font-size:11px;padding:2px 8px;border-radius:6px;background:#e8f5e9;color:#2e7d32;\">{{ sensors.vents || 0 }}% open</span></div>\n    </div>\n  </div>\n\n</div>\n\n<script>\nexport default {\n  data() {\n    return {\n      sensors: {}\n    }\n  },\n  mounted() {\n    this.$socket.on('msg-input:' + this.$ctxId, (msg) => {\n      if (msg && msg.payload) {\n        this.sensors = msg.payload\n      }\n    })\n  },\n  watch: {\n    msg(newVal) {\n      if (newVal && newVal.payload) {\n        this.sensors = newVal.payload\n      }\n    }\n  }\n}\n</script>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f110095d7c79aa39",
        "type": "change",
        "z": "190cd4b9f45ba92d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensors",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "9051afc78bc831d4"
            ]
        ]
    }
]